In [411]:
import numpy as np
import pandas as pd

In [412]:
# Example of reading the CSV file with custom parsing parameters
movies = pd.read_csv('tmdb_5000_movies.csv', encoding='utf-8')
credits = pd.read_csv('tmdb_5000_credits.csv', encoding='utf-8')

In [413]:
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [414]:
print(credits.columns)

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [415]:
# Merging
movies = movies.merge(credits,on='title')

In [416]:
# Merging
credits.columns = ['id','tittle','cast','crew']
df= credits.merge(movies,on='id')

movies = df

In [417]:
movies.head(1)

,id,tittle,cast_x,crew_x,budget,genres,homepage,keywords,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast_y,crew_y
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [418]:
# genres
# id
# keywords
# title
# overview
# popularity
# cast
# crew

movies = movies[['id', 'original_title', 'overview', 'genres', 'keywords', 'popularity', 'cast_x', 'crew_x']]

In [419]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4809 non-null   int64
 1   original_title  4809 non-null   object
 2   overview        4806 non-null   object
 3   genres          4809 non-null   object
 4   keywords        4809 non-null   object
 5   popularity      4809 non-null   float64
 6   cast_x          4809 non-null   object
 7   crew_x          4809 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 300.7+ KB

In [420]:
movies['original_title'].value_counts()

original_title
Batman                4
Out of the Blue       4
The Host              2
괴물                    2
Avatar                1
                     ..
Step Up 3D            1
Secondhand Lions      1
The Age of Adaline    1
Drag Me to Hell       1
My Date with Drew     1
Name: count, Length: 4801, dtype: int64

In [421]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [422]:
movies.isnull().sum()

id                0
original_title    0
overview          3
genres            0
keywords          0
popularity        0
cast_x            0
crew_x            0
dtype: int64

In [423]:
movies.dropna(inplace=True)

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [424]:
movies.duplicated().sum()

6

In [425]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [426]:
# [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
# ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']

In [427]:
import ast

In [428]:
# def convert(obj):
#     if isinstance(obj, str):
#         L = []
#         for item in ast.literal_eval(obj):
#             if isinstance(item, dict) and 'name' in item:
#                 L.append(item['name'])
#             else:
#                 # If the item is not a dictionary or does not have a 'name' key, skip it
#                 continue
#         return L
#     else:
#         # If the input is not a string, return it unchanged
#         return obj


# def convert(obj):
#   L = []
#   for i in ast.literal_eval(obj):
#     if isinstance(obj, str):
#       L.append(i['name'])
#     else:
#       return obj
#   return L

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

In [429]:
print(movies.columns)

Index(['id', 'original_title', 'overview', 'genres', 'keywords', 'popularity',
       'cast_x', 'crew_x'],
      dtype='object')

In [430]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [431]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [432]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [433]:
movies['keywords'] = movies['keywords'].apply(convert)

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\3328512696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

In [434]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...",107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...",112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [435]:
# import ast
# ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [436]:
# cast
# def convert3(text):
#     L = []
#     counter = 0
#     for i in ast.literal_eval(text):
#         if counter < 3:
#             L.append(i['name'])
#         counter+=1
#     return L

def convert3(input_list):
    L = []
    # Check if the input is a string (which needs to be evaluated) or a list (which can be used directly)
    if isinstance(input_list, str):
        input_list = ast.literal_eval(input_list)

    # Assuming input_list is now a list of dictionaries and we only want to take first three elements
    for counter, item in enumerate(input_list):
        if counter < 3:
            # Assuming the dictionaries have a 'name' key
            L.append(item['name'] if isinstance(item, dict) and 'name' in item else item)
        else:
            break
    return L

In [437]:
print(movies.columns)

Index(['id', 'original_title', 'overview', 'genres', 'keywords', 'popularity',
       'cast_x', 'crew_x'],
      dtype='object')

In [438]:
# Apply the 'convert3' function to the 'cast' column
movies['cast_x'] = movies['cast_x'].apply(convert3)

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\1339754635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast_x'] = movies['cast_x'].apply(convert3)

In [439]:
#fetch director
# def fetch_director(obj):
#   L = []
#   for i in ast.literal_eval(obj):
#     if i['job'] in 'Director':
#       L.append(i['name'])
#       break
#   return L

def fetch_director(obj):
  L = []
  try:
    # Try to evaluate the string as a JSON object
    crew_list = ast.literal_eval(obj)
  except ValueError:
    # If the evaluation fails, return an empty list
    return L

  # Iterate through the list of dictionaries and find the director
  for crew_member in crew_list:
    if crew_member['job'] == 'Director':
      L.append(crew_member['name'])
      break

  return L

In [440]:
movies['crew_x'].apply(fetch_director)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew_x, Length: 4806, dtype: object

In [441]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [442]:
movies['overview'].apply(lambda x: x if isinstance(x, list) else x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [443]:
movies['overview'] = movies['overview'].apply(lambda x: x if isinstance(x, list) else x.split())

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\2398788990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x: x if isinstance(x, list) else x.split())

In [444]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...",107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...",112.312950,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [445]:


# movies['genres'].apply(lambda x:[i.replace(" ", " ") for i in x])
# movies['keywords'].apply(lambda x:[i.replace(" ", " ") for i in x])
# movies['overview'].apply(lambda x:[i.replace(" ", " ") for i in x])
# movies['cast_x'].apply(lambda x:[i.replace(" ", " ") for i in x])
# movies['crew_x'].apply(lambda x:[i.replace(" ", " ") for i in x])

# Convert strings to lists in the columns
for column in ['overview', 'genres', 'keywords', 'cast_x', 'crew_x']:
    movies[column] = movies[column].apply(lambda x: [x] if isinstance(x, str) else x)

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\1549617668.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies[column] = movies[column].apply(lambda x: [x] if isinstance(x, str) else x)

In [446]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[culture clash, future, space war, space colon...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[[{""credit_id"": ""52fe48009251416c750aca23"", ""d..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ...","[ocean, drug abuse, exotic island, east india ...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[[{""credit_id"": ""52fe4232c3a36847f800b579"", ""d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[spy, based on novel, secret agent, sequel, mi...",107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[[{""credit_id"": ""54805967c3a36829b5002c41"", ""d..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""na...","[dc comics, crime fighter, terrorist, secret i...",112.312950,"[Christian Bale, Michael Caine, Gary Oldman]","[[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""d..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[based on novel, mars, medallion, space travel...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""d..."

In [447]:
# Check the data types of the columns
for column in ['overview', 'genres', 'keywords', 'cast_x', 'crew_x']:
    types = movies[column].apply(type)
    print(f"Column '{column}' contains types: {set(types)}")

Column 'overview' contains types: {<class 'list'>}
Column 'genres' contains types: {<class 'list'>}
Column 'keywords' contains types: {<class 'list'>}
Column 'cast_x' contains types: {<class 'list'>}
Column 'crew_x' contains types: {<class 'list'>}

In [448]:
# Concatenate the columns to create the 'tags' column
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords']

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\3756828490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords']

In [449]:
# Print the head of the 'tags' column
print(movies['tags'].head())

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
2    [A, cryptic, message, from, Bond’s, past, send...
3    [Following, the, death, of, District, Attorney...
4    [John, Carter, is, a, war-weary,, former, mili...
Name: tags, dtype: object

In [450]:
movies.head()

,id,original_title,overview,genres,keywords,popularity,cast_x,crew_x,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[culture clash, future, space war, space colon...",150.437577,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[[{""credit_id"": ""52fe48009251416c750aca23"", ""d...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ...","[ocean, drug abuse, exotic island, east india ...",139.082615,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[[{""credit_id"": ""52fe4232c3a36847f800b579"", ""d...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[spy, based on novel, secret agent, sequel, mi...",107.376788,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[[{""credit_id"": ""54805967c3a36829b5002c41"", ""d...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""na...","[dc comics, crime fighter, terrorist, secret i...",112.312950,"[Christian Bale, Michael Caine, Gary Oldman]","[[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""d...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""na...","[based on novel, mars, medallion, space travel...",43.926995,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""d...","[John, Carter, is, a, war-weary,, former, mili..."

In [451]:
new_df = movies[['id', 'original_title', 'tags']]

In [452]:
new_df['tags'].apply(lambda x: " ".join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [453]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else x)

C:\Users\BEST\AppData\Local\Temp\ipykernel_13812\1358839476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else x)

In [454]:
new_df.head()

,id,original_title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [455]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}] culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d'

In [456]:
new_df['tags'][2]

'A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE. [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 80, "name": "Crime"}] spy based on novel secret agent sequel mi6 british secret service united kingdom'

In [468]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

vectors = cv.fit_transform(new_df['tags']).toarray()

CountVectorizer is a class from the scikit-learn library used for converting text data into a matrix of token counts.

In [469]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [470]:
# first movie
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [472]:
cv.get_feature_names_out()

array(['00', '000', '007', ..., '卧底肥妈', '绝地奶霸', '超级妈妈'], dtype=object)

In [473]:
len(cv.get_feature_names_out())

23298